.app-dashboard-continar{
    height: calc(100vh - 110px);
    display: flex;
}
.app-dashboard-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #34495e;
    color: #fff;
    padding: 0 20px;
    /* margin-top: 1px; */
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 10;
}
.nav-link.slide {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    transition: color 0.3s ease;
    border-radius: 5px solid #333;
    border-radius: 8px;
    padding: 5px 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}
.nav-link:hover {
    color: #f39c12;
}
.outlet{
    flex: 1;
    overflow-y: auto;
    scrollbar-width: thin; /* Thinner scrollbar */
    scrollbar-color: #888 transparent; /* Color for thumb and track */
}
/* Styling the scrool bar  */
div::-webkit-scrollbar {
    width: 10px;
}

div::-webkit-scrollbar-track {
    background: #f4f4f4;
    border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px;
    border: 3px solid transparent; /* Create space between scrollbar and edge */
    background-clip: content-box; /* Ensure the border is transparent */
}
/**********/
.outlet .statistics{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px
}
.statistics .stat{
    width: 300px;
    height: 200px;
    background-color: white;
    border: 2px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}
.stat h1{
    font-size: 25px;
    font-weight: bold;
}
/* All Groups  */
.all-groups-continar{
    padding: 10px 20px;
}
.group-dash{
    background-color: white;
    border: 2px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    color: white;
    margin-bottom: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}
.group-dash h3{
    color: black;
    font-weight: bold;
}
.group-dash .options{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon-folder {
    color: #FFC107; 
    font-size: 20px;
    cursor: pointer;
    transition:  0.2s ;
}

.icon-users {
    color: #007BFF; 
    font-size: 20px;
    cursor: pointer;
    transition:  0.2s ;
}

.icon-trash {
    color: #FF5252; 
    font-size: 20px;
    cursor: pointer;
    transition:  0.2s ;
}

/* .icon-folder:hover,
.icon-users:hover,
.icon-user-friends,
.icon-trash:hover {
    font-size: 24px;
} */

.group-users-outlay{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.group-users{
    width: 500px;
    height: 300px;
    background-color: white;
    padding: 10px;
    border: 2px solid #eee;
    border-radius: 8px;
}
.group-users .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.info h1{
    font-weight: bold;
    font-size: 25px;
}
.group-users .members{
    overflow-y: auto;
    padding: 5px;
    height: 80%;
}
.members .member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}
.app-dashboard-continar table th.act{
    border:  1px solid rgb(44 45 178 / 50%);
}
table th.act {
    text-align: center;
}
/* All Users */
.all-users-continar{
    padding: 10px 20px;
}
.all-users-continar .user{
    background-color: white;
    border: 2px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}
.user .options{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon-user-friends{
    color: #38bdf8  ; /* Choose a matching color */
    font-size: 20px;
    cursor: pointer;
    transition:  0.2s;
}
.group-users .groups-in{
    overflow-y: auto;
    padding: 5px;
    height: 80%;
}
.groups-in .group-dash {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: black;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}
